<div class="login">
	<% if @current_user %>

		Hey, <%= @current_user.name %>, you're already logged in! <%= link_to "Logout!", logout_path %>

	<% else %>

		<%= form_tag "/login" do %>
			email: <%= text_field_tag :email %>
			password: <%= text_field_tag :password %>
			<%= submit_tag "Log In" %>
		<% end %>

	<div class="newuser">
		<%= link_to "New? Sign Up!", new_user_path %>
	</div>

	<% if flash[:notice] %>
		<p><%= flash[:notice] %></p>
	<% end %>

<% end %>
</div>