
<!-- <div class="tagline"> A celebration of life. </div> -->

<div class="announce">

	<h2> Create a Memorial <br>for your loved one today.</h2>

		<ul>
			<li> Upload pictures and videos. </li>
			<br>
			<li> Share with family and friends. </li>
			<br>
			<li> Keep your memories alive. </li>
		</ul>
		<br>
		<br>
		<br>
		<br>
		<br>

</div>
<div class="logwrapper">
	<div class="login">
		<h2> Log in to Memorium </h2>
		<% if @current_user %>
			Hey, <%= @current_user.first_name %>, you're already logged in!
			<%= link_to "Head to the user page!", user_path(@current_user.id) %>
		<% else %>

			<%= form_tag "/login" do %>

					<div class="tags"><!-- Email --><br>
					<%= text_field_tag :email , "", placeholder: "email" %>
					</div>
				</br>
					<div class="tags"><!-- Password --> <br>
					<%= password_field_tag :password , "", placeholder: "password" %>
				</br>
				<p class="submitbutton"><%= submit_tag "Log In" %></p>
			<% end %>

		<div class="newuser">
			New to Memorium? <%= link_to "Sign up now >>", new_user_path %>
		</div>

		<% if flash[:notice] %>
			<p><%= flash[:notice] %></p>
		<% end %>

	<% end %>
	</div>
</div>




</body>

