<h3>Edit your profile.</h3>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, placeholder: :first_name, class: "edit_field"%>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, placeholder: :last_name, class: "edit_field" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, placeholder: :email, class: "edit_field" %>
  </div>
  <div class="field">
  	<%= f.label :password %><br>
  	<%= f.password_field :password, placeholder: :password %>
  </div>
  <div class="field">
    <%= f.label 'Avatar' %><br>
    <%= f.file_field :path %>
  </div>
  <div class="actions=">
    <%= f.submit %>
  </div>
<% end %>

<br>
<%= link_to 'Show', @user %>


