<p id="notice"><%= notice %></p>

<!-- <div class="user_info"> -->
<!--   <% if(@user.path.url != nil) %>
    <div class="user_profile_pic">
      <%= image_tag @user.path%>
    </div>
  <% end %> -->
<!-- <p id="bigwelcome"> -->
  <!-- Welcome <%= @user.first_name %>! -->
<!-- </p> -->

<!-- <p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p> -->
<!-- <div ><%= link_to 'Edit User', edit_user_path(@user.id) %></div>
</div> -->

<%#= button_to "Edit Profile", edit_user_path(@user.id), :class => "button", :method => :get  %><br />

</div>
<br>

<div class="memorial_instructions">
  <h3> Create a Memorial in a few easy steps. </h3>
  <div id="instruct">
  1. Click the 'Create Memorial' button and enter the person's information. <br>
  <br>
  2. This will take you to the Memorial page where you can upload pictures and invite friends and family to visit. <br>
  <br>
  3. Then go to the Timeline page and upload your memories to be saved in chronological order.
  <br>
  </div>
  <br>
  <br>
  <br>
  <br>


  <button class="popup_button">Create Memorial</button>

</div>

    <!-- The popup for creating a new memorial. -->
    <section class = "new_memorial_popup">
    <%= form_for([@user, @memorial]) do |f| %>
      <fieldset class="memorial_info left_field">
      <div class="left_div">
         <%= f.label :title %><br>
         <%= f.text_field :title, placeholder: 'Memorial Title'%>
        </div>
        <div class="left_div">
          <%= f.label :name %><br>
          <%= f.text_field :name, placeholder: 'Name' %>
        </div>
      </fieldset>

      <fieldset class="memorial_info middle_field">
           <div class="middle_div">
         <%= f.label :birth_date %><br>
         <%= f.date_field :birth_date, class: 'date_field' %>
        </div>
        <div class="middle_div">
          <%= f.label :death_date %><br>
          <%= f.date_field :death_date, class: 'date_field' %>
        </div>
      </fieldset>

      <fieldset class="memorial_info right_field">
       <%= f.text_area :description, placeholder: 'Description', class: 'text_area_description'  %>
      </fieldset>
      <%= image_tag("x.png", class: 'create-memorial-x')%>


<br>


      <fieldset class="memorial_info bottom_field">
        <div class="bottom_div">
         <%= f.submit "Save", class: "new_memorial_button" %>
        </div>
      </fieldset>
    <% end %>
    </section>


    <br>


<section class="memorials_invited">
  <p id="titlememorial"> Memorials to view </p>
    <% if(@user.memorials.first == nil) %>
      <div class="box placeholder-box"></div>
    <% end %>

  <% @user.memorials.each do |memorial| %>
    <div class="box content-box" style= "background-image: url('<%= memorial.path %>'); background-size: 100% 100%;">
      <div id="boxlink"><%= link_to "#{memorial.title}", user_memorial_path(@user.id, memorial.id) %></div>
      <br>
      <%#= memorial.name %>

      </br><br>
      <%#= @user.memorial_users.find_by_memorial_id(memorial.id).role %>

      </br>
    </div>
  <% end %>

      <div class="box placeholder-box"></div>
</section>



<br>
