<p id="notice"><%= notice %></p>

<div class="user_info">
<div class="user_profile_pic">
<%= link_to (image_tag "user_silhouette.png") %>
</div>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<br>
</div>

<br>

<button class="popup_button">Memorial</button>




<!-- The popup for creating a new memorial. -->
<section class = "new_memorial_popup">
<%= form_for([@user, @memorial]) do |f| %>
  <fieldset class="memorial_info left_field">
  <div class="left_div">
     <%= f.label :title %><br>
     <%= f.text_field :title, value: 'Memorial Title'%>
    </div>
    <div class="left_div">
      <%= f.label :name %><br>
      <%= f.text_field :name, value: 'Name' %>
    </div>
  </fieldset>

  <fieldset class="memorial_info middle_field">
       <div class="middle_div">
     <%= f.label :birth_date %><br>
     <%= f.date_field :birth_date %>
    </div>
    <div class="middle_div">
      <%= f.label :death_date %><br>
      <%= f.date_field :death_date %>
    </div>
  </fieldset>

  <fieldset class="memorial_info right_field">
   <%= f.text_area :description, value: 'Description', class: 'text_area_description'  %>
  </fieldset>

  <fieldset class="memorial_info bottom_field">
    <div class="bottom_div">
     <%= f.submit class: "new_memorial_button" %>
    </div>
  </fieldset>
<% end %>
</section>

<br>
<!-- Lists the memorials that a user created (add memorials they can view and contribute to?) -->
<% @user.memorials.each do |memorial| %>
  <%= link_to "#{memorial.title}", user_memorial_path(@user.id, memorial.id) %>
  <br>
<% end %>

<br>
<section>
Memorials to view go here.
</section>
