<h1>Memorial#edit</h1>

<%= form_for([@user, @memorial], url: {action: "create"}) do |f| %>
  <% if @memorial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@memorial.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @memorial.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
		<%= f.label :title %><br>
  	<%= f.text_field :title, class: 'edit_field' %>
	</div>
	<div class="field">
 		<%= f.label :description %><br>
 		<%= f.text_field :description, class: 'edit_field' %>
	</div>
	<div class="field">
 		<%= f.label :name %><br>
 		<%= f.text_field :name, class: 'edit_field' %>
	</div>
	<div class="field">
 		<%= f.label :birth_date %><br>
 		<%= f.text_field :birth_date, class: 'edit_field' %>
	</div>
	<div class="field">
 		<%= f.label :death_date %><br>
 		<%= f.text_field :death_date, class: 'edit_field' %>
	</div>
	<div class="actions">
	  <%= f.submit %>
	</div>
<% end %>

