<h1>Memorial#show</h1>
<p>Find me in app/views/memorial/show.html.erb</p>

<h2>This is all placeholder stuff, feel free to delete.</h2>
Title: <%= @memorial.title %>
<br>
Description: <%= @memorial.description %>
<br>
Name: <%= @memorial.name %>
<br>
Birth date: <%= @memorial.birth_date %>
<br>
Death date: <%= @memorial.death_date %>


