
<h3>Memorial#show (delete this title later)</h3>
<h3><%= @memorial.title %></h3>
<p>Honoring <%= @memorial.name %> </p>
<p><%= @memorial.description %></p>

<%= form_tag user_memorial_path(@memorial.users.first, @memorial), :method => "get" do %>
	<p id="alert-message"><br></p>
	<section class ="searchbtn">
		<%= text_field_tag(:search, params[:search], class: "search_bar", autocomplete: "off") %>
		<%= submit_tag("Search", :name => nil) %><br>
		<ul id="search-dropdown">
		<!-- 	<li class="drop-names"></li>  -->
		</ul>
		<div class="invites">
		<!-- 	<span class="invite-buttons"></span>'  -->
		<!-- <button id="cancel-invite">x</button> -->
		</div>
	</section>
<% end %>

<br>

<!-- Should replace the weird form in carmen's version. -->
<%= form_for @comment, remote: true, :id => "comment_form" do |f| %>
	<%= f.text_field(:message, id: "comment_bar") %>
	<%= f.hidden_field :memorial_id %>
	<%= f.submit("Enter", :id => "submit_comment", class: "new_memorial_button") %>
<% end %>


<div id="get_data" style="display: none;" user-id="<%= @current_user.id %>" memorial-id="<%= @memorial.id %>"><%= @current_user.first_name %></div>

<div id= "comment-list">
	<% @memorial.comments.each do |comment| %>
		<% next unless comment.user %>
		<div>
			<span class='user_name'><%= comment.user.first_name rescue nil %>: </span>
			<%= comment.message %><br>
			<% if comment.created_at %>
			  <% if comment.created_at > 1.day.ago %>
					<span class='comment_time'><%= time_ago_in_words(comment.created_at) %> ago</span>
				<% else %>
					<span class='comment_time'><%= comment.created_at.strftime("%B %d at %I:%M%p") %></span>
				<% end %>
			<% end %>
		</div>
  <% end %>
 </div>


<%= link_to "Go To Timeline", user_memorial_timeline_path %>


