<div class="main_memorial">
	<div class="title_description">
		<h3>Memorial Title: <%= @memorial.title %></h3>
		<p>Honoring <%= @memorial.name %> </p>
		<p><%= @memorial.description %></p>

		<% if @check_privilege.role == "creator" %>
		<%= form_tag user_memorial_path(@memorial.users.first, @memorial), :method => "get", class: "search-form" do %>
			<br>
			<p id="alert-message"></p>
			</br>
			<section class ="searchbtn">
				<%= text_field_tag(:search, params[:search], class: "search_bar", autocomplete: "off") %>
				<%= submit_tag("Search", name: nil, class:"search_button") %><br>
				<ul id="search-dropdown">
				<!-- 	<li class="drop-names"></li>  -->
				</ul>
				<div class="invites">
				<!-- 	<span class="invite-buttons"></span> -->
				<!-- <button id="cancel-invite">x</button> -->
				</div>
			</section>
			<% end %>
		<% end %>

	<span id="timeline_link"><%= link_to "Go To Timeline", user_memorial_timeline_path %></span>
	</div>
	<br>

	<div class="people_posts">
			<div class="mempicture_upload">
			<!-- (note for team: picture upload goes here - w:800px x h:400 px) -->
			</div>
	<br>
	Post comment
	</br>

	<%= form_for @comment, remote: true, :id => "comment_form" do |f| %>
		<%= f.text_area(:message, id: "comment_bar") %>
		<%= f.hidden_field :memorial_id %>
		<section class="comment-submission">
			<%= f.file_field(:path, id: "comment_image") %>
				<%= f.submit("Enter", :id => "submit_comment", class: "enter_button") %>
		</section>
	<% end %>

	<div id="get_data" style="display: none;" user-id="<%= @current_user.id %>" memorial-id="<%= @memorial.id %>"><%= @current_user.first_name %></div>
	<br>

	<div id= "comment-list">
		<% @memorial.comments.each do |comment| %>
			<% next unless comment.user %>

			<div class="comment_bubble">
				<%= link_to image_tag("x.png", class: 'comment-x'), comments_path(id: comment.id), method: 'delete'%>
				<span class='user_name'><%= comment.user.first_name rescue nil %> </span>
				<br>

				<span class="user_msg"><%= comment.message %></span><br>
				<% if comment.created_at %>
					<% if comment.created_at > 1.day.ago %>
						<span class='comment_time'><%= time_ago_in_words(comment.created_at) %> ago</span>
					<% else %>
						<span class='comment_time'><%= comment.created_at.strftime("%B %d at %I:%M%p") %></span>
					<% end %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>

