<h2>Timeline</h2>

<%= form_for @picture, url: user_memorial_picture_create_path, :html => {:multipart =>true} do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>
      <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
	<% end %>

	<div>
		<%= f.label :caption %><br>
		<%= f.text_field :caption %>
	</div>
	<div>
		<%= f.label :description %><br>
		<%= f.text_field :description %>
	</div>
	<div>
		<%= f.label :date %><br>
		<%= f.date_field :date %>
	</div>
	<div>
		<%= f.file_field :path %>
		<%= f.hidden_field :path_cache %>
	</div>
	<div>
		<%= f.hidden_field :page %>
	</div>
	<div>
		<%= f.submit %>
	</div>
<% end %>


<% @pictures.each do |picture| %>
	<tr>
		<td class='image'><%= image_tag picture.path %></td>
	</tr>
<% end %>
