<button class="timeline-button">Add media</button>
<h3>Timeline</h3>

<%= form_for @picture, url: user_memorial_picture_create_path, :html => {:multipart =>true} do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>
      <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
	<% end %>

  <section class="timeline-image-add">
    <img class="popup-x" src="http://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Grey_close_x.svg/1024px-Grey_close_x.svg.png"/>
  	<div>
  		<%= f.label :caption %><br>
  		<%= f.text_field :caption %>
  	</div>
  	<div>
  		<%= f.label :description %><br>
  		<%= f.text_field :description %>
  	</div>
  	<div>
  		<%= f.label :date %><br>
  		<%= f.date_field :date %>
  	</div>
  	<div>
  		<%= f.file_field :path %>
  		<%= f.hidden_field :path_cache %>
  	</div>
  	<div>
  		<%= f.hidden_field :page, value: "timeline"%>
  	</div>
  	<div>
  		<%= f.submit %>
  	</div>
  </section>
<% end %>

<section class="timeline-line"></section>


<% @pictures.date_sort.each do |picture| %>
  <%= label_tag picture.date, nil, class: 'timeline date' %>
  <%= label_tag picture.caption, nil, class: 'timeline caption' %>
  <%= label_tag picture.description, nil, class: 'timeline description' %>

	<%= image_tag picture.path, class: 'timeline-image'%>
<% end %>
