<!-- <h1>Listing Pictures</h1>
 -->

<table>
  <tbody>
    <% @pictures.each do |picture| %>
      <tr id="<%=picture.id%>", class="board-tr">
        <td class="image"><%= image_tag picture.path, class: "board-image"%></td>
        <td class="optionstd">
          <div class='options_bar'>
            <%= link_to 'Comment', user_memorial_path, class: "link-text" %>
            <%#= link_to 'Edit', edit_picture_path(picture) %>
            <%= link_to 'Delete', user_memorial_timeline_path(id: picture.id), method: :delete, class: "link-text", data: { confirm: 'Are you sure?'} %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="new_popup">
  <% @picture = Picture.new %>
  <%= form_for @picture, url: user_memorial_timeline_path, :html => {:multipart => true} do |f| %>
    <section class: "new_popup_section">
      <%= f.label nil, 'Upload Photo', class: 'new_popup_label' %>
    </section>
    <%= f.file_field :path, value: 'Choose File' %>
    <%= f.hidden_field :path_cache %>
    <%= f.hidden_field :page, value: 'timeline' %>
    <br>
    <%= f.submit 'Upload File', class: 'upload_button' %>
    <%= f.submit 'Close Tab', class: 'close_button' %>
  <% end %>
</div>
<%#= link_to 'Show', picture %>
<%#= link_to 'Edit', edit_picture_path(picture) %>
<%#= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %>

<footer>
<%= link_to 'New Picture', user_memorial_timeline_path, class: "new_pic_button" %>
<button type="button" id="clean_up">Clean Up!</button>
</footer>
