<!DOCTYPE html>
<html>
<head>
  <title>Memorium</title>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic|Open+Sans:300italic,700italic,400,800,700,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<nav>

  <p class="site-name">Memorium</p>

  <% if @current_user != nil %>
    <div class="notif">
      <span id="notif-title">Notifications <%= User.num_notif(@current_user) %></span>
      <div class="notif-dropdown">
        <% @current_user.received_notifications.each do |notification| %>
          <%= link_to truncate(notification.message, length: 50), notif_change_status_path(notification.id), "status" => notification.status %>
        <br>
        <% end %>
      </div>
    </div>
  <% end %>

    <div class="nav_profile">
      <%= link_to "Profile", @user %>
    </div>

  	<div class="nav_logout"><% if @current_user != nil %>
  		<%= link_to "Logout", logout_path %>
  	<% end %>
  	</div>
</nav>

<body>

<%= yield %>

</body>
</html>
