<!DOCTYPE html>
<html>
<head>
  <title>Memorium</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if @current_user != nil %>
	<%= link_to "Logout!", logout_path %>  |  <%= link_to 'User Page', user_path(@user.id) %><br>
	<%= link_to 'New Memorial', user_new_memorial_path(@user.id) %> | <%= link_to 'Edit User', edit_user_path(@user.id) %>
<br>
<% end %>

<%= yield %>

</body>
</html>
